Testing for the Spaceship Rebuilt

In [1]:
import pandas as pd

In [3]:
train = pd.read_csv('train.csv')
test  = pd.read_csv('test.csv')

y=train['Transported'].copy().astype(int)
X=train.drop('Transported', axis=1).copy()

# Concatenate dataframes
data=pd.concat([X, test], axis=0).reset_index(drop=True)

In [7]:
data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name'],
      dtype='object')

In [14]:
data.groupby(['HomePlanet', 'CryoSleep']).size().unstack()

CryoSleep   False  True
HomePlanet
Earth        4632   2070
Europa       1678   1374
Mars         1589   1034