In [1]:
print("Hello World")

Hello World

In [5]:
import matplotlib
import pandas as pd

In [6]:
data = {
    'Sqft' : [500, 750, 300, 450],
    'Price' : [25000, 37500, 15000, 22500]
}
housing = pd.DataFrame(data)
housing

   Sqft  Price
0   500  25000
1   750  37500
2   300  15000
3   450  22500

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/myanmards/programming-series/master/Covid19.csv')

In [8]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [9]:
df.isnull().sum()

SNo                   0
ObservationDate       0
Province/State     3090
Country/Region        0
Last Update           0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [10]:
cdf = df.dropna()
cdf.shape

(4223, 8)

In [11]:
df.shape

(7313, 8)

In [12]:
df.dropna(axis=1, inplace=True)
df.shape

(7313, 7)

In [13]:
df.head()

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [19]:
data = {
    'Product' : ['Milk', 'Coffee', 'Milk'],
    'Price' : [500, 300, 500]
}
temp_df = pd.DataFrame(data)
temp_df

  Product  Price
0    Milk    500
1  Coffee    300
2    Milk    500

In [20]:
temp_df.drop_duplicates(inplace = True)
temp_df

  Product  Price
0    Milk    500
1  Coffee    300

In [23]:
data = {
'Product' : ['Milk', 'Coffee', 'Tea', 'Milo'],
'Price' : [500, None, 350, 550]
}

tdf = pd.DataFrame(data)
tdf_price = tdf['Price']
tdf_price.describe()

count      3.000000
mean     466.666667
std      104.083300
min      350.000000
25%      425.000000
50%      500.000000
75%      525.000000
max      550.000000
Name: Price, dtype: float64

In [26]:
avg_price = tdf_price.mean()
tdf_price.fillna(avg_price, inplace = True)
tdf

  Product       Price
0    Milk  500.000000
1  Coffee  466.666667
2     Tea  350.000000
3    Milo  550.000000

In [27]:
df.head()

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [29]:
cv19df = df
conf = cv19df['Confirmed']
conf.head()

0     1.0
1    14.0
2     6.0
3     1.0
4     0.0
Name: Confirmed, dtype: float64

In [30]:
conf.mean()

623.0164091344182

In [31]:
cv19df.describe()

               SNo     Confirmed       Deaths     Recovered
count  7313.000000   7313.000000  7313.000000   7313.000000
mean   3657.000000    623.016409    21.145494    231.619171
std    2111.225592   4914.340881   213.643556   2634.378848
min       1.000000      0.000000     0.000000      0.000000
25%    1829.000000      2.000000     0.000000      0.000000
50%    3657.000000     15.000000     0.000000      0.000000
75%    5485.000000    120.000000     1.000000     10.000000
max    7313.000000  67800.000000  4032.000000  58382.000000

In [32]:
cv19df['Deaths'].describe()

count    7313.000000
mean       21.145494
std       213.643556
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max      4032.000000
Name: Deaths, dtype: float64

In [33]:
country = df['Country/Region'].value_counts()
country

Mainland China      1827
US                  1503
Australia            305
Canada               230
France               109
                    ...
Angola                 1
Cabo Verde             1
Niger                  1
Papua New Guinea       1
Zimbabwe               1
Name: Country/Region, Length: 191, dtype: int64

In [35]:
country.loc['UK']

81

In [38]:
aus_df = cv19df[cv19df['Country/Region'] == 'Australia']
aus_df

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
80,81,01/23/2020,Australia,1/23/20 17:00,0.0,0.0,0.0
166,167,01/25/2020,Australia,1/25/20 17:00,4.0,0.0,0.0
212,213,01/26/2020,Australia,1/26/20 16:00,4.0,0.0,0.0
265,266,01/27/2020,Australia,1/27/20 23:59,4.0,0.0,0.0
266,267,01/27/2020,Australia,1/27/20 23:59,1.0,0.0,0.0
...,...,...,...,...,...,...,...
7169,7170,03/20/2020,Australia,2020-03-20T21:13:30,50.0,0.0,3.0
7231,7232,03/20/2020,Australia,2020-03-19T11:13:54,10.0,0.0,3.0
7242,7243,03/20/2020,Australia,2020-03-20T21:13:30,6.0,0.0,0.0
7253,7254,03/20/2020,Australia,2020-03-20T21:13:29,3.0,0.0,0.0
7300,7301,03/20/2020,Australia,2020-03-14T02:33:04,0.0,0.0,0.0

In [39]:
def situation_function(x):
    if x >= 20:
        return "bad"
    else:
        return "normal"

df["Severity"] = df["Confirmed"].apply(situation_function)

df.head(20)

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Severity
0,1,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,normal
1,2,01/22/2020,Mainland China,1/22/2020 17:00,14.0,0.0,0.0,normal
2,3,01/22/2020,Mainland China,1/22/2020 17:00,6.0,0.0,0.0,normal
3,4,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,normal
4,5,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0,normal
5,6,01/22/2020,Mainland China,1/22/2020 17:00,26.0,0.0,0.0,bad
6,7,01/22/2020,Mainland China,1/22/2020 17:00,2.0,0.0,0.0,normal
7,8,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,normal
8,9,01/22/2020,Mainland China,1/22/2020 17:00,4.0,0.0,0.0,normal
9,10,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,normal
10,11,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0,normal
11,12,01/22/2020,Mainland China,1/22/2020 17:00,5.0,0.0,0.0,normal
12,13,01/22/2020,Hong Kong,1/22/2020 17:00,0.0,0.0,0.0,normal
13,14,01/22/2020,Mainland China,1/22/2020 17:00,444.0,17.0,28.0,bad
14,15,01/22/2020,Mainland China,1/22/2020 17:00,4.0,0.0,0.0,normal
15,16,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0,normal
16,17,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,normal
17,18,01/22/2020,Mainland China,1/22/2020 17:00,2.0,0.0,0.0,normal
18,19,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0,normal
19,20,01/22/2020,Mainland China,1/22/2020 17:00,2.0,0.0,0.0,normal