In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('Tree.csv', index_col=False)

In [3]:
data.head()

   Initial Payment  Last Payment  Credit Score  House Number    idk Result
0              201         10018           250          3046  13515    yes
1              205         10016           395          3044  13660    yes
2              257         10129           109          3251  13746    yes
3              246         10064           324          3137  13771    yes
4              117         10115           496          3094  13822    yes

In [4]:
data.shape

(1000, 6)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Initial Payment  1000 non-null   int64
 1   Last Payment     1000 non-null   int64
 2   Credit Score     1000 non-null   int64
 3   House Number     1000 non-null   int64
 4   idk              1000 non-null   int64
 5   Result           1000 non-null   object
dtypes: int64(5), object(1)
memory usage: 47.0+ KB

In [6]:
data.head()

   Initial Payment  Last Payment  Credit Score  House Number    idk Result
0              201         10018           250          3046  13515    yes
1              205         10016           395          3044  13660    yes
2              257         10129           109          3251  13746    yes
3              246         10064           324          3137  13771    yes
4              117         10115           496          3094  13822    yes

In [7]:
X = data.drop(['Result', 'idk'], axis=1)
y = data['Result']

In [8]:
X.head()

   Initial Payment  Last Payment  Credit Score  House Number
0              201         10018           250          3046
1              205         10016           395          3044
2              257         10129           109          3251
3              246         10064           324          3137
4              117         10115           496          3094

In [9]:
y.head()

0    yes
1    yes
2    yes
3    yes
4    yes
Name: Result, dtype: object

In [10]:
X.tail()

     Initial Payment  Last Payment  Credit Score  House Number
995              413         14914           523          4683
996              359         14423           927          4838
997              316         14872           613          4760
998              305         14926           897          4572
999              168         14798           834          4937

In [11]:
# splitng Dataset into Test and Train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
clf_entropy = DecisionTreeClassifier(criterion="entropy", random_state=100, max_depth=5, 
                                    min_samples_leaf=4)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5, min_samples_leaf=4,
                       random_state=100)

In [20]:
y_pred = clf_entropy.predict(X_test)
acc = str(accuracy_score(y_pred, y_test) * 100) + '%'
print(acc)

97.5%