In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/nyanmyosett/.local/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/nyanmyosett/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /home/nyanmyosett/.local/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
data = {
    'Sqft' : [500, 750, 300, 450],
    'Price' : [25000, 37500, 15000, 22500]
}
housing = pd.DataFrame(data)
housing

   Sqft  Price
0   500  25000
1   750  37500
2   300  15000
3   450  22500

In [4]:
housing = pd.DataFrame(data, index=['H001', 'H002', 'H003', 'H004'])
housing

      Sqft  Price
H001   500  25000
H002   750  37500
H003   300  15000
H004   450  22500

In [5]:
housing.loc['H003']

Sqft       300
Price    15000
Name: H003, dtype: int64

In [6]:
housing.loc['H001': 'H004']

      Sqft  Price
H001   500  25000
H002   750  37500
H003   300  15000
H004   450  22500

In [7]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, H001 to H004
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sqft    4 non-null      int64
 1   Price   4 non-null      int64
dtypes: int64(2)
memory usage: 268.0+ bytes

In [9]:
housing.shape

(4, 2)

In [13]:
housing = housing.append({
    'Sqft' : 400, 
    'Price' : 35000}, 
     ignore_index = True
)
housing

TypeError: DataFrame.append() got an unexpected keyword argument 'index'